<div class="component-fill jumbotron jumbotron-fluid">
    <div class="d-flex justify-content-center w-100">
        <div class="d-flex flex-row col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="text-right">
                <h1 class="display-1">#</h1>
            </div>
            <div class="flex-grow-1 col align-self-center">
                <h2 class="text-break">{{ 'notFound.lbl' | translate }}</h2>
                <!-- <p class="lead mb-0 text-break"></p> -->
                <p class="lead text-secondary small text-break">{{ 'notFound.desc' | translate }}</p>
                <button class="btn btn-primary m-1" type="button" routerLink="/">{{ 'notFound.btnMainPage' | translate }}</button>
                <button class="btn btn-primary m-1" type="button" (click)="gotoBack()">{{ 'notFound.btnReturnBack' | translate }}</button>
            </div>
        </div>
    </div>
</div>