<div class="component-fill">
    <ng-container *ngIf="isNeedCheckEmail; else noNeedCheckEmailYet">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">{{ 'registration.success.header' | translate }}</h4>
            <p [innerHtml]="'registration.success.message' | translate:{'email': user.email}"></p>
            <hr>
            <button class="btn btn-success btn-block" type="button" routerLink="/login">{{ 'registration.success.btnGotoLogin' | translate }}</button>
        </div>
    </ng-container>
    <ng-template #noNeedCheckEmailYet>
        <form name="registrationForm" #registrationForm="ngForm" (ngSubmit)="register()" novalidate class="container col-xs-12 col-sm-8 col-md-6 col-lg-3">
            <h1 class="display-4 text-center">{{ 'registration.header' | translate }}</h1>
            <div class="form-group">
                <label>{{ 'registration.lblUsername' | translate }}:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" [ngClass]="{ 'is-invalid': username.touched && username.invalid }" class="form-control" placeholder="Username" required name="username" [(ngModel)]="user.username" #username="ngModel" pattern="^[a-zA-Z0-9_]{3,20}$">
                </div>
                <div [hidden]="username.valid || username.untouched">
                    <p class="invalid-feedback d-block" *ngIf="username.errors?.required || username.errors?.pattern">{{ 'registration.username.patternInvalid' | translate }}</p>
                    <p class="invalid-feedback d-block" *ngIf="username.errors?.alreadyRegistered">{{ 'registration.username.alreadyRegistered' | translate }}</p>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'registration.lblEmail' | translate }}:</label>
                <div class="input-group">
                    <input type="email" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" class="form-control" placeholder="username@email.com" required name="email" [(ngModel)]="user.email" #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                </div>
                <div [hidden]="email.valid || email.untouched">
                    <p class="invalid-feedback d-block" *ngIf="email.errors?.required || email.errors?.pattern">{{ 'registration.email.patternInvalid' | translate }}</p>
                    <p class="invalid-feedback d-block" *ngIf="email.errors?.alreadyRegistered">{{ 'registration.email.alreadyRegistered' | translate }}</p>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'registration.lblPassword' | translate }}:</label>
                <input type="password" [ngClass]="{ 'is-invalid': password.touched && password.invalid }" class="form-control" placeholder="••••••••" required name="password" [(ngModel)]="user.password" pattern="^(?=.*[0-9]+.*).{6,}$" #password="ngModel" compare-password="confirmPassword" parent="true">
                <div [hidden]="password.valid || password.untouched">
                    <p class="invalid-feedback d-block">{{ 'registration.password.notValid' | translate }}</p>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'registration.lblConfirmPassword' | translate }}:</label>
                <input type="password" [ngClass]="{ 'is-invalid': confirmPassword.touched && confirmPassword.invalid }" class="form-control" placeholder="••••••••" name="confirmPassword" ngModel #confirmPassword="ngModel" compare-password="password">
                <div [hidden]="confirmPassword.valid || confirmPassword.untouched">
                    <p class="invalid-feedback d-block">{{ 'registration.confirmPassword.notValid' | translate }}</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="registrationForm.invalid || isProceeding">
                <ng-container *ngIf="!isProceeding; else Proceeding">
                    {{ 'registration.lblSubmit' | translate }}
                </ng-container>
                <ng-template #Proceeding>
                    <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                </ng-template>
            </button>
        </form>
    </ng-template>
</div>