<div class="component-fill">
    <form #registrationForm="ngForm" novalidate class="container col-xs-12 col-sm-8 col-md-6 col-lg-3">
        <h1 class="display-4 text-center">Registration</h1>
        <div class="form-group">
            <label>Username:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control validatorsStyles" placeholder="Username" required name="username" [(ngModel)]="user.username" #username="ngModel" pattern="^[a-zA-Z0-9_]{3,20}$">
            </div>
            <div [hidden]="username.valid || username.untouched" class="alert-danger small font-italic px-1">
                <p>Username length must be 3..20, can contains numbers, letters and '_'</p>
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <div class="input-group">
                <input type="text" class="form-control validatorsStyles" placeholder="username@email.com" required name="email" [(ngModel)]="user.email" #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
            </div>
            <div [hidden]="email.valid || email.untouched" class="alert-danger small font-italic px-1">
                <p>Email is invalid</p>
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
        <input type="password" class="form-control validatorsStyles" placeholder="Password" required name="password" [(ngModel)]="user.password" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$" #password="ngModel" compare-password="confirmPassword" parent="true">
            <div [hidden]="password.valid || password.untouched" class="alert-danger small font-italic px-1">
                <p>Password must contain at least one letter, at least one number, and be longer than six charaters</p>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password:</label>
        <input type="password" class="form-control validatorsStyles" placeholder="Password" name="confirmPassword" ngModel #confirmPassword="ngModel" compare-password="password">
            <div [hidden]="confirmPassword.valid || confirmPassword.untouched" class="alert-danger small font-italic px-1">
                <p>Password doesn't match</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="registrationForm.invalid || isProceeding" (click)="register()">
            <ng-container *ngIf="!isProceeding; else Proceeding">
                Submit
            </ng-container>
            <ng-template #Proceeding>
                Proceeding...
            </ng-template>
        </button>
    </form>
</div>