<div class="modal-header">
    <h4 class="modal-title">{{ 'modals.imageDelete.header' | translate }}</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span> 
    </button>
</div>
<div class="modal-body">
    <ng-container *ngIf="isProceeding; else notProceeding">
        <p class="text-center text-danger font-weight-bold">{{ 'modals.imageDelete.statusDeleting' | translate:{'done': completedItems, 'total': imageCodes.length} }}</p>
        <ngb-progressbar type="danger" [value]="completedItems" [animated]="true" [max]="imageCodes.length" [striped]="true"></ngb-progressbar>
    </ng-container>
    <ng-template #notProceeding>
        <p>{{ 'modals.imageDelete.areYouSure' | translate:{'count': imageCodes.length} }}</p>
    </ng-template>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'shared.cancel' | translate }}</button>
    <button *ngIf="!isProceeding" type="button" class="btn btn-danger" (click)="delete()">OK</button>
</div>