<div class="modal-header">
    <h4 class="modal-title">{{ 'modals.albumMembers.header' | translate }}</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <label class="text-muted text-uppercase">{{ 'modals.albumMembers.joinedUsers.header' | translate:{'count': totalCount } }}</label>
        <table class="table table-striped table-content-middle table-responsive">
            <tbody>
                <tr *ngFor="let profile of albumProfileViewModels">
                    <td class="fit">
                        <a [href]="window.location.origin + '/profiles/' + profile?.info?.user?.id" target="_blank">
                            <img class="rounded-circle z-depth-0" height="50px" [src]="profile?.avatarUrl" onload="this.style.display='block'; this.style.margin='0 0 0 1rem'" onerror="this.style.display='none'" onloadstart="this.style.display='none'" style="display: none; cursor: pointer;">
                        </a>
                    </td>
                    <td class="fit pl-3">
                        <a [href]="window.location.origin + '/profiles/' + profile?.info?.user?.id" target="_blank" class="text-decoration-none text-dark">
                            <ng-container *ngIf="profile?.info?.user?.profile?.firstname || profile?.info?.user?.profile?.lastname; else nameExist">
                                <h5 class="m-0">
                                    <span>{{profile?.info?.user?.profile?.firstname}} </span>
                                    <span>{{profile?.info?.user?.profile?.lastname}}</span>
                                </h5>
                                <p class="m-0 text-muted">@{{profile?.info?.user?.username}}</p>
                            </ng-container>
                            <ng-template #nameExist>
                                <h5 class="m-0">{{profile?.info?.user?.username}}</h5>
                            </ng-template>
                        </a>
                    </td>
                    <td class="w-100 mx-3"></td>
                    <td class="fit">
                        <i *ngIf="profile.isChangingRole" class="fa fa-spinner-third fa-spin mr-3" aria-hidden="true"></i>
                    </td>
                    <td class="fit">
                        <div class="mr-3">
                            <select 
                            [disabled]="
                                profile.isChangingRole || 
                                targetAlbumDto?.accessRole > albumUserRole.admin || 
                                profile?.info?.albumRole <= albumUserRole.admin" 
                            (change)="onRoleChange(profile, $event)"
                            [(ngModel)]="profile.roleViewModel"
                            class="custom-select" 
                            required 
                            style="min-width: 150px;">
                            <option value="0">{{ 'modals.albumMembers.joinedUsers.roles.admin' | translate }}</option>
                            <option value="1">{{ 'modals.albumMembers.joinedUsers.roles.editor' | translate }}</option>
                            <option value="2">{{ 'modals.albumMembers.joinedUsers.roles.viewer' | translate }}</option>
                        </select>
                        </div>
                    </td>
                    <td class="fit">
                        <button 
                            *ngIf="targetAlbumDto?.accessRole <= albumUserRole.admin && profile?.info?.albumRole > albumUserRole.admin" 
                            class="btn btn-outline-danger mr-3" 
                            type="button"
                            placement="bottom" 
                            [openDelay]="500" 
                            (click)="kickUser(profile)"
                            [disabled]="profile.isDeleting"
                            ngbTooltip="{{ 'modals.albumMembers.joinedUsers.btnKick' | translate }}">
                            <ng-container *ngIf="profile.isDeleting; else notDeleting">
                                <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #notDeleting>
                                <i class="fas fa-ban"></i>
                            </ng-template>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="isLoading" class="text-muted text-center w-100 mt-3">
            <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
        </p>
        <button *ngIf="!isAllUsersLoaded && !isLoading" (click)="loadNextPage()" class="btn btn-primary w-100 mb-3" type="button"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>{{ 'shared.loadMore' | translate }}</button>
    </div>
    <div *ngIf="targetAlbumDto?.accessRole != null && targetAlbumDto?.accessRole <= albumUserRole.admin">
        <div class="pt-3">
            <label class="text-muted text-uppercase">{{ 'modals.albumMembers.invites.header' | translate }} <span *ngIf="invitesTotalCount">({{invitesTotalCount}})</span></label>
            <table class="table table-striped table-content-middle table-responsive">
                <tbody>
                    <tr *ngFor="let invite of albumInviteViewModels">
                        <td class="fit">
                            <a [href]="window.location.origin + '/profiles/' + invite?.info?.id" target="_blank">
                                <img class="rounded-circle z-depth-0" height="50px" [src]="invite?.avatarUrl" onload="this.style.display='block'; this.style.margin='0 0 0 1rem'" onerror="this.style.display='none'" onloadstart="this.style.display='none'" style="display: none; cursor: pointer;">
                            </a>
                        </td>
                        <td class="fit pl-3">
                            <a [href]="window.location.origin + '/profiles/' + invite?.info?.id" target="_blank" class="text-decoration-none text-dark">
                                <ng-container *ngIf="invite?.info?.profile?.firstname || invite?.info?.profile?.lastname; else nameExist">
                                    <h5 class="m-0">
                                        <span>{{invite?.info?.profile?.firstname}} </span>
                                        <span>{{invite?.info?.profile?.lastname}}</span>
                                    </h5>
                                    <p class="m-0 text-muted">@{{invite?.info?.username}}</p>
                                </ng-container>
                                <ng-template #nameExist>
                                    <h5 class="m-0">{{invite?.info?.username}}</h5>
                                </ng-template>
                            </a>
                        </td>
                        <td class="w-100 mx-3"></td>
                        <td class="fit">
                            <button 
                                class="btn btn-outline-danger mr-3" 
                                type="button"
                                placement="bottom" 
                                [openDelay]="500" 
                                (click)="cancelInvite(invite)"
                                [disabled]="invite.isDeleting"
                                ngbTooltip="{{ 'modals.albumMembers.joinedUsers.btnCancelInvite' | translate }}">
                                <ng-container *ngIf="invite.isDeleting; else notDeleting">
                                    <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                                </ng-container>
                                <ng-template #notDeleting>
                                    <i class="fas fa-times"></i>
                                </ng-template>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="invitesTotalCount == 0" class="text-muted text-center w-100 lead">
                {{ 'modals.albumMembers.invites.noInvites' | translate }}
            </p>
            <p *ngIf="isInvitesLoading" class="text-muted text-center w-100 mt-3">
                <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
            </p>
            <button *ngIf="!isAllInvitesLoaded && !isInvitesLoading" (click)="loadNextInvitesPage()" class="btn btn-primary w-100 mb-3" type="button"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>{{ 'shared.loadMore' | translate }}</button>
        </div>
        <div class="form-group m-3">
            <form class="input-group" (submit)="sendInviteByUsername(sendInvite.value)">
                <input [ngClass]="{ 'is-invalid': sendInvite.touched && sendInvite.invalid }" class="form-control" [readonly]="isInviteSending" type="text" spellcheck="false" id="sendInvite" name="sendInvite" ngModel #sendInvite="ngModel" placeholder="@username" />
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" [disabled]="sendInvite.invalid || sendInvite.value == '' || isInviteSending" type="submit">
                        <ng-container *ngIf="isInviteSending; else notSending">
                            <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>{{ 'modals.albumMembers.invites.inviting' | translate }}
                        </ng-container>
                        <ng-template #notSending>
                            <i class="far fa-paper-plane mr-2"></i>{{ 'modals.albumMembers.invites.btnInvite' | translate }}
                        </ng-template>
                    </button>
                </div>
            </form>
            <div [hidden]="sendInvite.valid || sendInvite.untouched">
                <p class="invalid-feedback d-block" *ngIf="sendInvite.errors?.notFound">{{ 'modals.albumMembers.invites.invite.notFound' | translate }}</p>
                <p class="invalid-feedback d-block" *ngIf="sendInvite.errors?.alreadyInvited">{{ 'modals.albumMembers.invites.invite.alreadyInvited' | translate }}</p>
                <p class="invalid-feedback d-block" *ngIf="sendInvite.errors?.alreadyJoined">{{ 'modals.albumMembers.invites.invite.alreadyJoined' | translate }}</p>
            </div>
        </div>
    </div>
<div class="modal-footer">
    <p class="text-danger float-left">
        <ng-container *ngIf="isLeaving; else notLeaving">
            <i class="fa fa-spinner-third mr-2 fa-spin" aria-hidden="true"></i>
            {{ 'modals.albumMembers.leaving' | translate }}
        </ng-container>
        <ng-template #notLeaving>
            <summary *ngIf="targetAlbumDto?.accessRole > albumUserRole.admin" (click)="leaveFromAlbum()" class="onHoverUnderline">
                {{ 'modals.albumMembers.leave' | translate }}
            </summary>
        </ng-template>
    </p>
    
    <div class="flex-fill"></div>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
</div>