<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        PicoShelter
        <h6 class="d-inline align-top"><span class="badge badge-secondary text-uppercase">alpha</span></h6>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/upload" routerLinkActive="active"><i class="far fa-cloud-upload-alt"></i> Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [href]="profilesHttpService.serverUrl + '/apidocs'"><i class="far fa-code"></i> API</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <ng-container *ngIf="currentUser == null; else loginedTemplate">
                <li class="nav-item ml-0 ml-sm-1 mt-1 mt-sm-0" routerLinkActive="d-none">
                    <button class="btn btn-secondary" routerLink="/login"><i class="fas fa-sign-in"></i> Login</button>
                </li>
                <li class="nav-item ml-0 ml-sm-1 mt-1 mt-sm-0" routerLinkActive="d-none">
                    <button class="btn btn-primary" routerLink="/registration"><i class="fas fa-user-plus"></i> Register</button>
                </li>
            </ng-container>
            <ng-template #loginedTemplate>
                <li class="nav-item dropdown">
                    <summary class="d-flex flex-row" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="currentUserAvatarLink" onload="this.style.display='block'" class="rounded-circle z-depth-0" height="40" style="display: none;">
                        <div class="d-flex flex-column mx-2 justify-content-center">
                            <ng-container *ngIf="currentUser?.profile?.firstname != null || currentUser?.profile?.lastname != null; else nameExist">
                                <h6 class="my-0 text-center">{{currentUser?.profile?.firstname}} {{currentUser?.profile?.lastname}}</h6>
                                <p class="my-0 small text-secondary">@{{currentUser?.username}}</p>
                            </ng-container>
                            <ng-template #nameExist>
                                <h6 class="my-0">{{currentUser?.username}}</h6>
                            </ng-template>
                        </div>
                        <span class="dropdown-toggle align-self-center"></span>
                    </summary>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary mt-1">
                        <button class="btn dropdown-item" [routerLink]="[ '/profiles/', currentUser.id ]"><i class="fas fa-user-alt pr-1"></i> My Profile</button>
                        <button class="btn dropdown-item" (click)="openSettingsModal()"><i class="fas fa-cog pr-1" aria-hidden="true"></i> Settings</button>
                        <button class="btn dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt pr-1"></i> Logout</button>
                    </div>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
