<div class="component-fill">
    <div class="container col-xs-12 col-sm-8 col-md-6 col-lg-3">
        <ng-container *ngIf="isLoginWindow; else resetPasswordWindow">
            <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()" novalidate>
                <h1 class="display-4 text-center">{{ 'login.header' | translate }}</h1>
                <div class="form-group">
                    <label>{{ 'login.lblUsername' | translate }}:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input [ngClass]="{ 'is-invalid': username.touched && username.invalid }" (input)="onFieldsChanged()" name="username" #username="ngModel" required type="text" class="form-control" placeholder="Username/Email" [(ngModel)]="user.username">
                    </div>
                    <div [hidden]="username.valid || username.untouched">
                        <p class="invalid-feedback d-block" *ngIf="username.errors?.required">{{ 'login.username.required' | translate }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ 'login.lblPassword' | translate }}:</label>
                    <input [ngClass]="{ 'is-invalid': password.touched && password.invalid }" (input)="onFieldsChanged()" name="password" #password="ngModel" required type="password" class="form-control" placeholder="••••••••" [(ngModel)]="user.password">
                    <div [hidden]="password.valid || password.untouched">
                        <p class="invalid-feedback d-block" *ngIf="password.errors?.required">{{ 'login.password.required' | translate }}</p>
                        <p class="invalid-feedback d-block" *ngIf="password.errors?.incorrectCredentials">{{ 'login.password.incorrect' | translate }}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || isLogging">
                    <ng-container *ngIf="!isLogging; else Logging">
                        {{ 'login.btnLogin' | translate }}
                    </ng-container>
                    <ng-template #Logging>
                        <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                    </ng-template>
                </button>
                <div class="text-center mt-2">
                    <a class="text-center text-secondary" type="button" (click)="startPasswordReset()">{{ 'login.forgotPassword' | translate }}</a>
                </div>
            </form>
        </ng-container>
        <ng-template #resetPasswordWindow>
            <form name="resetPasswordFrom" #resetPasswordFrom="ngForm" (ngSubmit)="resetPassword()" novalidate>
                <h1 class="display-4 text-center">{{ 'login.header' | translate }}</h1>
                <h4 class="text-center">{{ 'login.pwdReset.header' | translate }}</h4>
                <div class="form-group">
                    <label>{{ 'login.pwdReset.lblEmail' | translate }}:</label>
                    <input [ngClass]="{ 'is-invalid': recoveryEmailField.touched && recoveryEmailField.invalid }" name="recoveryEmailField" #recoveryEmailField="ngModel" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email" class="form-control" placeholder="abc123@gmail.com" [(ngModel)]="recoveryEmail">
                    <div [hidden]="recoveryEmailField.valid || recoveryEmailField.untouched">
                        <p class="invalid-feedback d-block" *ngIf="recoveryEmailField.errors?.required || recoveryEmailField.errors?.pattern">{{ 'login.pwdReset.email.patternError' | translate }}</p>
                        <p class="invalid-feedback d-block" *ngIf="recoveryEmailField.errors?.notFound">{{ 'login.pwdReset.email.notFound' | translate }}.</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="resetPasswordFrom.invalid || isReseting">
                    <ng-container *ngIf="!isReseting; else reseting">
                        {{ 'login.pwdReset.btnReset' | translate }}
                    </ng-container>
                    <ng-template #reseting>
                        <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                    </ng-template>
                </button>
                <div class="text-center mt-2">
                    <a class="text-center text-secondary" type="button" (click)="stopPasswordReset()">{{ 'login.pwdReset.iRemembered' | translate }}</a>
                </div>
            </form>
        </ng-template>
    </div>
</div>