<div class="component-fill">
    <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()" novalidate class="container col-xs-12 col-sm-8 col-md-6 col-lg-3">
        <h1 class="display-4 text-center">Welcome</h1>
        <div class="form-group">
            <label>Login:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input [ngClass]="{ 'is-invalid': username.touched && username.invalid }" (input)="onFieldsChanged()" name="username" #username="ngModel" required type="text" class="form-control" placeholder="Username/Email" [(ngModel)]="user.username">
            </div>
            <div [hidden]="username.valid || username.untouched">
                <p class="invalid-feedback d-block" *ngIf="username.errors?.required">Username required</p>
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input [ngClass]="{ 'is-invalid': password.touched && password.invalid }" (input)="onFieldsChanged()" name="password" #password="ngModel" required type="password" class="form-control validatorsStyles" placeholder="Password" [(ngModel)]="user.password">
            <div [hidden]="password.valid || password.untouched">
                <p class="invalid-feedback d-block" *ngIf="password.errors?.required">Password required</p>
                <p class="invalid-feedback d-block" *ngIf="password.errors?.incorrectCredentials">Username or password is incorrect</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || isLogging">
            <ng-container *ngIf="!isLogging; else Logging">
                Login
            </ng-container>
            <ng-template #Logging>
                Logging...
            </ng-template>
        </button>
        <!-- <div [hidden]="error == null" class="alert alert-danger my-2">
            {{error}}
        </div> -->
        <div class="text-center mt-2">
            <a class="text-center text-secondary" routerLink="/registration">Need to register?</a>
        </div>
    </form>
</div>