<div class="container mt-5" id="images">
    <div class="row align-items-center">
        <h1 class="col">Images</h1>
        <button *ngIf="isMyAccount" class="btn btn-primary mr-3" type="button" routerLink="/upload"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Upload</button>
    </div>
    <hr class="my-1">
    <div class="row mx-n1">
        <div *ngFor="let image of imageThumbnailViewModel" 
            class="col-4 
                col-sm-3
                col-md-2 
                col-lg-1 
                square 
                d-inline-block p-1" >
            <div class="image-thumbnail-frame" [routerLink]="'/i/' + image?.info?.imageCode">
                <div class="image-thumnail-overlay-shared" *ngIf="image?.info?.isPublic">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </div>
                <div class="image-thumnail-overlay-loading" *ngIf="image?.resourceUrl == null">
                    <i class="fa fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                </div>
                <div class="image-thumbnail image-thumbnail-zoomIn" [style.background-image]="image?.resourceUrl == null ? none : 'url(' + image.resourceUrl + ')'"></div>
            </div>
        </div>
        <p *ngIf="profile?.images?.data?.length == 0" class="text-muted text-center w-100 mt-3 lead">
            There's no pictures. Yet.
        </p>

        <p *ngIf="isLoading" class="text-muted text-center w-100 mt-3">
            <i class="fa fa fa-spinner-third fa-spin" aria-hidden="true"></i>
        </p>
        <button *ngIf="!isAllImagesLoaded && !isLoading" (click)="loadNextPage()" class="btn btn-primary w-100 mt-3" type="button"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>Load more images</button>
        <small *ngIf="profile?.images?.data?.length > 0 && isAllImagesLoaded" class="text-muted text-center w-100 mt-3">
            Totally {{profile?.images?.totalCount}} image(s)
        </small>
    </div>
</div>