app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    overflow: auto;
    flex: 1;
}

.component-fill {
    min-height: 100%!important;
    margin: 0!important;
    display: flex!important;
    flex-wrap: wrap!important;
    align-items: center;
    justify-content: center;
}

.bg-particles {
    background-image: url("../backgrounds/particles.svg");
}

.text-shadow-1-1-grey {
    text-shadow: 1px 1px grey;
}

.square:after {
    content: "";
    display: block;
    background-color: transparent;
    padding-bottom: 100%;
}

/* .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.image-thumbnail-frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: grey;
}

.image-thumbnail {
    background-size: contain; 
    background-position: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.image-thumbnail-zoomIn {
    transition: all .15s;
    transition-timing-function: ease;
}

.image-thumbnail-zoomIn:hover {
    transform: scale(1.25);
    opacity: 0.8;
}

.image-thumnail-overlay-shared {
    padding: .25rem;
    color: white;
    position: absolute; 
    right: 4px; 
    pointer-events: none; 
    opacity: 0.5; 
    top: 0; 
    z-index: 1000; 
    text-shadow: 1px 1px #000000;
}

.image-thumnail-overlay-loading {
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    opacity: 0.5; 
    z-index: 1000; 
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}