app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

summary {
    outline: none;
    overflow: hidden;
}

.main-content {
    overflow: auto;
    flex: 1;
}

.component-fill {
    min-height: 100%!important;
    margin: 0!important;
    display: flex!important;
    flex-wrap: wrap!important;
    align-items: center;
    justify-content: center;
}

.bg-particles {
    background-image: url("../backgrounds/particles.svg");
}

.text-shadow-1-1-grey {
    text-shadow: 1px 1px grey;
}

.square:after {
    content: "";
    display: block;
    background-color: transparent;
    pointer-events: none;
    padding-bottom: 100%;
}

/* .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.image-thumbnail-frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: grey;
}

.image-thumbnail {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.image-thumbnail-zoomIn {
    transition: all .15s;
    transition-timing-function: ease;
}

.image-thumbnail-zoomIn:hover {
    transform: scale(1.25);
    opacity: 0.8;
}

.image-thumnail-overlay-shared {
    padding: .25rem;
    color: white;
    position: absolute; 
    right: 4px; 
    pointer-events: none; 
    opacity: 0.3; 
    top: 0; 
    z-index: 100; 
    text-shadow: 1px 1px #000000;
}

.image-thumnail-overlay-selected {
    margin: .25rem;
    color: white;
    position: absolute; 
    left: 4px;
    opacity: 0.3;
    top: 0; 
    z-index: 1000; 
    text-shadow: 1px 1px #000000;
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .image-thumnail-overlay-shared {
        font-size: 1.5rem;
    }
    .image-thumnail-overlay-selected {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .image-thumnail-overlay-shared {
        font-size: 1.3rem;
    }
    .image-thumnail-overlay-selected {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .image-thumnail-overlay-shared {
        font-size: 1.2rem;
    }
    .image-thumnail-overlay-selected {
        font-size: 1.2rem;
    }
}

.image-thumnail-overlay-loading {
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    opacity: 0.3; 
    z-index: 100; 
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.transition-all-025 {
    transition: all 0.25s;
}

.onHoverBlack {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s ease-out;
}

.onHoverBlack:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.onHoverBlack .visibleOnHoverBlack {
    opacity: 0;
    visibility: collapse;
}

.onHoverBlack:hover .visibleOnHoverBlack {
    visibility: visible;
    opacity: 1;
}

.border-100vh {
    border-radius: 100vh;
}

.avatarChangeOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    opacity: 0;
    transition: opacity .5s;
}

.avatarContainer:hover .avatarChangeOverlay {
    opacity: 1;
}

.pz-icon-right .pz-zoom-button.pz-zoom-control-position-bottom {
    top: 16px;
    left: auto!important;
    right: 16px;
}

.pz-image-background {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.bg-image-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.7);
}