<div class="d-flex flex-column">
    <div class="w-100">
        <form name="profileEditForm" ngForm #profileEditForm="ngForm">
            <fieldset [disabled]="isUpdating">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="text-muted text-uppercase" for="firstname">Name</label>
                            <input [ngClass]="{ 'is-invalid': firstname.touched && firstname.invalid }" id="firstname" class="form-control" type="text" spellcheck="false" name="firstname" #firstname="ngModel" [(ngModel)]="profile.firstname" maxlength="20" />
                        </div>
                        <div class="form-group">
                            <label class="text-muted text-uppercase" for="lastname">Last name</label>
                            <input [ngClass]="{ 'is-invalid': lastname.touched && lastname.invalid }" id="lastname" class="form-control" type="text" spellcheck="false" name="lastname" #lastname="ngModel" [(ngModel)]="profile.lastname" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label class="text-muted text-uppercase" for="avatar">Your avatar</label>
                            <div class="col-lg-4 px-0">
                                <div class="square">
                                    <div class="avatarContainer image-thumbnail-frame border-100vh position-absolute" [style.background-image]="avatarFile == null ? 'url(assets/icons/no_image.jpg)' : 'none'" style="background-color: white; background-size: cover;">
                                        <div class="avatarChangeOverlay flex-row">
                                            <summary (click)="performSetAvatar()"><i class="fas fa-camera mr-2"></i></summary>|<summary (click)="deleteAvatar()"><i class="fas fa-ban ml-2"></i></summary>
                                        </div>
                                        <div class="image-thumbnail-overlay-loading" *ngIf="isAvatarPreviewLoading">
                                            <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                                        </div>
                                        <input id="file" name="file" ngModel #file="ngModel" type="file" accept="image/*" class="d-none" (change)="onAvatarFileChanged($event)">
                                        <div class="image-thumbnail" [style.background-image]="avatarFileLink == null ? 'none' : 'url(' + avatarFileLink.toString() + ')'" style="cursor: default;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2" [hidden]="file.valid">
                                <p class="invalid-feedback d-block" *ngIf="file.errors?.invalidFile">Selected file is unsupported. Sorry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row mx-0">
                <button class="btn btn-outline-secondary" type="button" [disabled]="profileEditForm.invalid || isUpdating" (click)="startProfileUpdating()">
                    <ng-container *ngIf="isUpdating; else notUpdating">
                        <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>Updating
                    </ng-container>
                    <ng-template #notUpdating>
                        Update
                    </ng-template>
                </button>
            </div>
        </form>
    </div>
</div>