<ng-container *ngIf="info && albumInfo; else noInfo">
    <div class="component-fill flex-column justify-content-start">
        <div class="bg-gradient-kindSteel w-100 border-bottom border-top shadow-sm">
            <div class="d-flex flex-column flex-md-row mt-3 mt-md-0">
                <div class="col-12 col-md-1 col-lg-2 d-flex align-items-center">
                    <summary class="m-1" *ngIf="!isFirstPage" (click)="location.back()">
                        <i class="fa-2x fas fa-arrow-left text-secondary"></i>
                    </summary>
                </div>
                <div class="col-12 col-md-10 col-lg-8 mt-md-3">
                    <h1 *ngIf="info.title" class="display-4 text-wrap text-break">{{info.title}}</h1>
                    <p class="float-left text-muted m-0">
                        <span class="text-uppercase">{{ 'images.uploadedBy' | translate }} </span>
                        <a [routerLink]="'/profiles/' + info.user.id">
                            <ng-container *ngIf="info.user.profile.firstname || info.user.profile.lastname; else noName">{{info.user.profile.firstname}} {{info.user.profile.lastname}} (@{{info.user.username}})</ng-container>
                            <ng-template #noName>@{{info.user.username}}</ng-template>
                        </a>
                        <ng-container *ngIf="albumInfo.title; else noTitle">
                            <span class="text-uppercase"> {{ 'images.in' | translate }} {{ 'images.lblAlbum' | translate }} </span>
                            <a [routerLink]="'../'">
                                {{albumInfo.title}}
                            </a>
                        </ng-container>
                        <ng-template #noTitle>
                            <span class="text-uppercase"> {{ 'images.in' | translate }} </span> 
                            <a class="text-uppercase" [routerLink]="'../'">
                                {{ 'images.lblAlbum' | translate }}
                            </a>
                        </ng-template>
                    </p>
                    <p class="float-right text-muted ml-2">{{infoUploadedDate | date:'dd.MM.yy, hh:mm aa'}}</p>
                </div>
            </div>
        </div>
        <div class="w-100 row flex-fill m-0 pt-3">
            <div class="col-12 col-md-8 col-lg-10 px-3 p-0">
                <ng-container *ngIf="imageResourceUrl; else notImageYet">
                    <pinch-zoom class="w-100 h-100 bg-white pz-icon-right" [limit-zoom]='5' style="min-height: 70vh;">
                        <div class="h-100 w-100 pz-image-background" [style.background-image]="'url(' + imageResourceUrl + ')'"></div>
                    </pinch-zoom>
                </ng-container>
                <ng-template #notImageYet>
                    <div class="h-100 w-100 pz-image-background d-flex justify-content-center align-items-center text-shadow-1-1-grey" [style.background-image]="thumbnailResourceUrl ? 'url(' + thumbnailResourceUrl + ')' : 'none'">
                        <div class="w-100 square d-flex align-items-center justify-content-center d-md-none" style="max-height: 70vh;">
                            <i class="fa fa-2x fa-spinner-third fa-spin" aria-hidden="true"></i>
                        </div>
                        <i class="fa fa-2x fa-spinner-third fa-spin d-none d-md-block" aria-hidden="true"></i>
                    </div>
                </ng-template>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <div class="mt-3">
                    <div class="list-group text-center" id="list-tab" role="tablist">
                        <div *ngIf="imageWidth && imageHeight" class="text-muted lead">
                            <p class="text-uppercase m-0">{{info.imageType}}</p>
                            <p class="m-0">{{imageWidth}}x{{imageHeight}}</p>
                            <p>{{imageSize | fileSize}}</p>
                        </div>

                        <div *ngIf="info.autoDeleteIn">
                            <p class="m-0 text-muted">{{ 'images.autodeletedIn' | translate }}</p>
                            <ng-container *ngIf="countToDelete > 0; else countNegative">
                                <p>{{countToDelete | formatTime}}</p>
                            </ng-container>
                            <ng-template #countNegative>
                                <p>{{ 'images.rightNow' | translate }}</p>
                            </ng-template>
                            
                        </div>

                        <summary (click)="downloadImage()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2">
                            <ng-container *ngIf="isRequestedDownload; else noRequestedDownload">
                                <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>{{ 'images.btnDownloadPrepairing' | translate }}
                            </ng-container>
                            <ng-template #noRequestedDownload>
                                <i class="fas fa-download mr-2"></i>{{ 'images.btnDownload' | translate }}
                            </ng-template>
                        </summary>
                        <summary (click)="openInNewTab()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2">
                            <ng-container *ngIf="isRequestedOpen; else noRequestedOpen">
                                <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>{{ 'images.btnOpenInNewTabPrepairing' | translate }}
                            </ng-container>
                            <ng-template #noRequestedOpen>
                                <i class="fas fa-external-link-alt mr-2"></i>{{ 'images.btnOpenInNewTab' | translate }}
                            </ng-template>
                        </summary>
                        <summary (click)="discussImageAsync()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2" *ngIf="this.info?.isPublic || this.albumInfo?.isPublic">
                            <i class="fas fa-comments-alt mr-2"></i> Discuss
                        </summary>
                        <summary *ngIf="info.isPublic || albumInfo.isPublic" (click)="showLinks()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2">
                            <i class="fas fa-link mr-2"></i>{{ 'images.btnLinks' | translate }}
                        </summary>

                        <div *ngIf="isAdminAccess">
                            <hr class="w-100 m-0"/>
                            <summary (click)="editImage()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2"><i class="far fa-edit mr-2"></i>{{ 'images.btnEdit' | translate }}</summary>
                            <summary (click)="deleteImage()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2"><i class="fas fa-trash mr-2"></i>{{ 'images.btnDelete' | translate }}</summary>
                        </div>
                        <div *ngIf="albumInfo.accessRole != null && albumInfo.accessRole <= roleType.editor">
                            <hr class="w-100 m-0"/>
                            <summary (click)="dropFromAlbum()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2">
                                <ng-container *ngIf="isDropping; else noDropping">
                                    <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>{{ 'images.droppingFromAlbum' | translate }}
                                </ng-container>
                                <ng-template #noDropping>
                                    <i class="fas fa-ban mr-2"></i>{{ 'images.btnDropFromAlbum' | translate }}
                                </ng-template>
                            </summary>
                        </div>

                        <div *ngIf="isLoggined && !isAdminAccess">
                            <hr class="w-100 m-0"/>
                            <summary (click)="submitReport()" class="list-group-item border-0 list-group-item-action px-0 px-sm-2"><i class="far fa-flag mr-2"></i>Report</summary>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="py-1"></p>
</ng-container>
<ng-template #noInfo>
    <div class="component-fill">
        <i class="fa fa-2x fa-spinner-third fa-spin" aria-hidden="true"></i>
    </div>
</ng-template>