<ng-container *ngIf="isLoaded; else notLoadedTemplate">
    <ng-container *ngIf="!isServerFailure; else serverFailureTemplate">
        <navbar></navbar>
        <div id="bodyAndFooter" class="d-flex flex-column flex-fill" style="overflow-y: scroll;">
            <div class="flex-fill">
                <div style="min-height: 80vh;">
                    <router-outlet (activate)="onActivate($event)"></router-outlet>
                </div>
            </div>
            <footer>
                <div class="text-white" style="background-color: black;">
                    <div class="container py-3">
                        <div class="row">
                            <img src="assets/icons/picoShelter/White Icon + Text.svg" class="col-8 col-sm-8 col-md-6 col-lg-3 py-4" />
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <p class="text-muted text-uppercase font-weight-bold">References</p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <p class="text-muted text-uppercase font-weight-bold">Language</p>
                                <ul class="pl-0">
                                    <li type="button" (click)="changeLocale('en')">English</li>
                                    <li type="button" (click)="changeLocale('uk')">Українська</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-2 lead">
                            <p class="text-muted">PicoShelter®. 2020-2021.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </ng-container>
    <ng-template #serverFailureTemplate>
        <div class="component-fill jumbotron jumbotron-fluid">
            <div class="d-flex justify-content-center w-100">
                <div class="d-flex flex-row col-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="text-right">
                        <h1 class="display-1">@</h1>
                    </div>
                    <div class="flex-grow-1 col align-self-center">
                        <h2 class="text-break">{{ 'app.serverError.lbl' | translate }}</h2>
                        <p class="lead mb-0 text-break">{{ 'app.serverError.desc' | translate }}</p>
                        <button class="btn btn-primary m-1 mt-2" type="button" onClick="window.location.reload();">{{ 'app.serverError.btnReload' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>
<ng-template #notLoadedTemplate>
    <div class="component-fill jumbotron jumbotron-fluid bg-particles">
        <div class="container text-center">
            <img src="assets/icons/picoShelter/Black Icon.svg" class="mb-3" style="max-height: 7em;" />
            <h1>PicoShelter</h1>
            <p class="lead mb-0 text-break text-secondary">Connecting to server</p>
        </div>
    </div>
</ng-template>

