<div class="modal-header">
    <h4 class="modal-title">{{ 'modals.albumAddImage.header' | translate }}</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label class="text-muted text-uppercase">{{ 'modals.albumAddImage.myGallery' | translate }}</label>
    <div class="row mx-0">
        <div *ngFor="let image of imageThumbnailViewModel" 
            class="col-4 
                col-sm-3
                col-md-2 
                col-lg-1 
                square 
                d-inline-block p-1" >
            <div class="image-thumbnail-frame" (mouseenter)="onMouseEnter(image)" (mouseleave)="onMouseLeave(image)" placement="bottom" [ngbTooltip]="image?.info?.title">
                <div class="image-thumbnail-overlay-loading" *ngIf="image?.resourceUrl == null">
                    <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                </div>
                <summary *ngIf="isMyAccount" [style.opacity]="(image.selected ? 1 : 0.3)" class="image-thumbnail-overlay-selected px-1" (click)="performToggleSelect(image, $event)">
                    <i [ngClass]="{'text-primary': image.selected, 'fas': image.selected }" class="far fa-check-square"></i>
                </summary>
                <div *ngIf="image?.preselect" class="image-thumbnail-overlay-preselect"></div>
                <a [href]="'/i/' + image?.info?.imageCode" target="_blank" class="image-thumbnail image-thumbnail-zoomIn" [style.background-image]="image?.resourceUrl == null ? 'none' : 'url(' + image.resourceUrl + ')'"></a>
            </div>
        </div>
        <p *ngIf="totalCount == 0" class="text-muted text-center w-100 mt-3 lead">
            {{ 'profile.images.none' | translate }}
        </p>

        <p *ngIf="isLoading" class="text-muted text-center w-100 mt-3">
            <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
        </p>
        <button *ngIf="!isAllImagesLoaded && !isLoading" (click)="loadNextPage()" class="btn btn-primary w-100 mt-2 mb-3" type="button"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>{{ 'shared.loadMore' | translate }}</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">{{ 'shared.cancel' | translate }}</button>
    <button [disabled]="isProceeding" *ngIf="selectedCount > 0" type="button" class="btn btn-primary" (click)="confirm()">
        <ng-container *ngIf="isProceeding; else notProceeding">
            <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
        </ng-container>
        <ng-template #notProceeding>
            {{ 'modals.albumAddImage.btnAdd' | translate:{ 'count': selectedCount } }}
        </ng-template>
    </button>
</div>