<ng-container *ngIf="album != null; else noInfo">
    <div class="flex-column justify-content-start">
        <div class="bg-gradient-fruitBlend text-white w-100 border-bottom border-top shadow-sm">
            <div class="mt-3 mt-md-0">
                <div class="container mt-md-3">
                    <h1 *ngIf="album.title" class="display-4" style="font-size: 2.5em;">{{album.title}}</h1>
                    <p>
                        <span class="onHoverUnderline text-uppercase lead" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'albums.lblAlbum' | translate }}</span>
                        <span class="dropdown-menu p-4" style="margin-left: -1px;">
                            <h6 class="dropdown-header p-0 mb-3 text-uppercase">{{ 'albums.albumInfo.header' | translate }}</h6>
                            <p>
                                <span class="text-muted text-uppercase">{{ 'albums.albumInfo.createdTime' | translate }}: </span>
                                <span>{{albumCreatedDate | date:'dd.MM.yy, hh:mm aa'}}</span>
                            </p>
                            <p [ngClass]="{'mb-0': !album.isPublic}">
                                <span class="text-muted text-uppercase">{{ 'albums.albumInfo.lblAlbumIsIn' | translate }} </span>
                                <span class="text-uppercase">
                                    <ng-container *ngIf="album.isPublic; else notPublic">
                                        {{ 'albums.albumInfo.lblPublic' | translate }}
                                    </ng-container>
                                    <ng-template #notPublic>
                                        {{ 'albums.albumInfo.lblPrivate' | translate }}
                                    </ng-template>
                                </span>
                                <span class="text-muted text-uppercase">{{ 'albums.albumInfo.lblAccess' | translate }}</span>
                            </p>
                            <div *ngIf="album.isPublic">
                                <div>
                                    <label>{{ 'albums.albumInfo.link' | translate }}:</label>
                                    <div class="input-group mb-2">
                                        <input type="text" [ngModel]="albumLink" class="form-control bg-white" readonly>
                                        <summary class="input-group-prepend" (click)="copyLink(albumLink)">
                                            <div class="input-group-text"><i class="far fa-copy"></i></div>
                                        </summary>
                                    </div>
                                </div>
                                <div *ngIf="album.usercode">
                                    <label>{{ 'albums.albumInfo.linkByUsercode' | translate }}:</label>
                                    <div class="input-group mb-2">
                                        <input type="text" [ngModel]="albumLinkByUsercode" class="form-control bg-white" readonly>
                                        <summary class="input-group-prepend" (click)="copyLink(albumLinkByUsercode)">
                                            <div class="input-group-text"><i class="far fa-copy"></i></div>
                                        </summary>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <span class="text-uppercase lead"> • </span>
                        <span class="onHoverUnderline text-uppercase lead" type="button" (click)="albumMembers()">{{ 'albums.lblMembers' | translate:{'count': album.users.totalCount} }}</span>
                        <span class="text-uppercase lead"> • </span>
                        <span class="text-uppercase lead">{{ 'albums.lblPictures' | translate:{'count': album.images.totalCount} }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-end">
                <div class="d-flex flex-column flex-sm-row mb-2">
                    <button *ngIf="album.accessRole <= roleType.editor" class="btn btn-primary" type="button" (click)="addImage()"><i class="fa fa-plus mr-2" aria-hidden="true"></i>{{ 'albums.btnAddImage' | translate }}</button>
                    <button *ngIf="album.accessRole <= roleType.admin" class="btn btn-secondary ml-sm-1 mt-1 mt-sm-0" type="button" (click)="editAlbum()"><i class="far fa-edit mr-2"></i>{{ 'albums.btnEditAlbum' | translate }}</button>
                    <button *ngIf="selectedCount > 0 && album.accessRole <= roleType.editor" [disabled]="isDropping" class="btn btn-danger ml-sm-1 mt-1 mt-sm-0" type="button" (click)="dropImages()">
                        <ng-container *ngIf="isDropping; else notDropping">
                            <i class="fa fa-spinner-third fa-spin mr-2" aria-hidden="true"></i>{{ 'albums.droppingImage' | translate }}
                        </ng-container>
                        <ng-template #notDropping>
                            <i class="fas fa-ban mr-2"></i>{{ 'albums.btnDropImage' | translate }}
                        </ng-template>
                    </button>
                </div>
            </div>
            <hr class="my-1" *ngIf="album.accessRole <= roleType.editor">
            <div class="row mx-n1">
                <div *ngFor="let image of imageThumbnailViewModel" 
                    class="col-4 
                        col-sm-3
                        col-md-2 
                        col-lg-1 
                        square 
                        d-inline-block p-1" >
                    <summary class="image-thumbnail-frame" (mouseenter)="onMouseEnter(image)" (mouseleave)="onMouseLeave(image)" placement="bottom" [ngbTooltip]="image?.info?.title">
                        <div class="image-thumbnail-overlay-loading" *ngIf="image?.resourceUrl == null">
                            <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                        </div>
                        <summary *ngIf="album.accessRole <= roleType.editor" [style.opacity]="(image.selected ? 1 : 0.3)" class="image-thumbnail-overlay-selected px-1" (click)="performToggleSelect(image, $event)">
                            <i [ngClass]="{'text-primary': image.selected, 'fas': image.selected }" class="far fa-check-square"></i>
                        </summary>
                        <div *ngIf="image?.preselect" class="image-thumbnail-overlay-preselect"></div>
                        <a [routerLink]="image?.info?.imageCode" class="image-thumbnail image-thumbnail-zoomIn" [style.background-image]="image?.resourceUrl == null ? 'none' : 'url(' + image.resourceUrl + ')'"></a>
                    </summary>
                </div>
                <p *ngIf="album?.images?.totalCount == 0" class="text-muted text-center w-100 mt-3 lead">
                    {{ 'profile.images.none' | translate }}
                </p>
        
                <p *ngIf="isLoading" class="text-muted text-center w-100 mt-3">
                    <i class="fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                </p>
                <button *ngIf="!isAllImagesLoaded && !isLoading" (click)="loadNextPage()" class="btn btn-primary w-100 mt-3" type="button"><i class="fa fa-bolt mr-2" aria-hidden="true"></i>{{ 'shared.loadMore' | translate }}</button>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #noInfo>
    <div class="component-fill">
        <i class="fa fa-2x fa-spinner-third fa-spin" aria-hidden="true"></i>
    </div>
</ng-template>