<div class="container mt-5">
    <div class="row align-items-end">
        <h1 class="col">Images</h1>
        <a href="/" routerLink="images">
            <h1 class="col lead text-right text-uppercase text-secondary">More <i class="fas fa-angle-double-right"></i></h1>
        </a>
    </div>
    <hr class="my-1">
    <div class="row mx-n1">
        <div *ngFor="let image of imageThumbnailViewModel" 
            class="col-4 
                col-sm-3
                col-md-2 
                col-lg-1 
                square 
                d-inline-block p-1" 
                >
            <div class="image-thumbnail-frame" [routerLink]="'/i/' + image?.info?.imageCode">
                <div class="image-thumnail-overlay-shared" *ngIf="image?.info?.isPublic">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </div>
                <div class="image-thumnail-overlay-loading" *ngIf="image?.resourceUrl == null">
                    <i class="fa fa fa-spinner-third fa-spin" aria-hidden="true"></i>
                </div>
                <div class="image-thumbnail image-thumbnail-zoomIn" [style.background-image]="image?.resourceUrl == null ? none : 'url(' + image.resourceUrl + ')'"></div>
            </div>
        </div>
        <p *ngIf="profile?.images == null" class="text-muted text-center w-100 mt-3">
            <i class="fa fa fa-spinner-third fa-spin" aria-hidden="true"></i>
        </p>
        <p *ngIf="profile?.images?.data?.length == 0" class="text-muted text-center w-100 mt-3 lead">
            There's no pictures. Yet.
        </p>
    </div>
</div>

<div class="container mt-4" *ngIf="profile?.albums?.data && profile?.albums?.data?.length > 0">
    <div class="row align-items-end">
        <h1 class="col">Albums</h1>
        <a href="/">
            <h1 class="col lead text-right text-uppercase text-secondary">More <i class="fas fa-angle-double-right"></i></h1>
        </a>
    </div>
    <hr class="my-1">
    <p *ngIf="profile?.albums == null" class="text-muted text-center w-100 mt-3">
        <i class="fa fa fa-spinner-third fa-spin" aria-hidden="true"></i>
    </p>
    <p *ngIf="profile?.albums?.data?.length == 0" class="text-muted text-center w-100 mt-3 lead">
        There's no pictures. Yet.
    </p>
</div>